---
import InfoCard from "../InfoCard.astro"
import Latex from "../Latex.astro"
import FormulaCard from "../FormulaCard.astro" 
---

<section id="kap-3">
  <h2>3 Trigonometri</h2>

  <h3>Radianer (det absolutte vinkelmålet)</h3>
  <InfoCard>
    Vinkel v målt i radianer er lik forholdet mellom buelengden b og radien r.
    <Latex formula="v=\\frac{b}{r}" />
  </InfoCard>

  <h3>Omgjøring fra grader til radianer og motsatt</h3>
  <InfoCard>
    Vinkelen n&deg; er ekvivalent med radianen v så er:
    <Latex formula="v=\\frac{n\\degree}{180\\degree}\\cdot\\pi\\quad\\text{og}\\quad n\\degree=\\frac{v}{\\pi}\\cdot180\\degree" />
  </InfoCard>

  <h3>Kvadrantene og omløp (forhold til grunnstilling)</h3>
  <InfoCard>
    <b>Kvadrant 1:</b> <Latex formula="n\\degree\\in[0,90\\quad\\enspace]\\quad\\lor\\quad v\\in[0,\\frac{\\pi}{2}]" inline={true} /> <br>
    <b>Kvadrant 2:</b> <Latex formula="n\\degree\\in[90,180\\enspace]\\quad\\lor\\quad v\\in[\\frac{\\pi}{2},\\pi]" inline={true} /> <br>
    <b>Kvadrant 3:</b> <Latex formula="n\\degree\\in[180,270]\\quad\\lor\\quad v\\in[\\pi,\\frac{3\\pi}{2}]" inline={true} /> <br>
    <b>Kvadrant 4:</b> <Latex formula="n\\degree\\in[270,360]\\quad\\lor\\quad v\\in[\\frac{3\\pi}{2},2\\pi]" inline={true} /> <br>
    <br>
    <b>Første omløp:</b> <Latex formula="n\\degree\\in[0,360\\quad\\rang\\quad\\lor\\quad v\\in[0,2\\pi\\rang" inline={true} /> <br>
    <b>Andre omløp:</b> <Latex formula="n\\degree\\in[360,720\\rang\\quad\\lor\\quad v\\in[2\\pi,4\\pi\\rang" inline={true} /> <br>
  </InfoCard>

  <h3>Enhetssirkelen &rarr; Cosinus, Sinus og Tangens</h3>
  <InfoCard>
    s.189
  </InfoCard>

  <h3>Cosinus, Sinus og Tangens er periodiske</h3>
  <InfoCard>
    For <Latex formula="k\\in\\Z" inline={true}/> har vi
    <Latex formula="\\cos(v+k\\cdot360\\degree)=\\cos v \\qquad\\cos(v+k\\cdot2\\pi)=\\cos v" />
    <Latex formula="\\sin(v+k\\cdot360\\degree)=\\sin v \\qquad\\sin(v+k\\cdot2\\pi)=\\sin v" />
    <Latex formula="\\tan(v+k\\cdot180\\degree)=\\tan v \\qquad\\tan(v+k\\cdot\\pi)=\\tan v" />
  </InfoCard>

  <h3>Viktige eksakte trigonometriske verdier</h3>
  <p>En tabell (s.193-194, marg av bok)</p>
  <InfoCard>
    <b>Huskeregel:</b><br>
    <Latex formula="cos [0,30,45,60,90]=[\\frac{\\sqrt{4}}{2},\\frac{\\sqrt{3}}{2},\\frac{\\sqrt{2}}{2},\\frac{\\sqrt{1}}{2},\\frac{\\sqrt{0}}{2}]" inline={true}/> <br>
    <br>
    <Latex formula="sin [90,60,45,30,0]=[\\frac{\\sqrt{4}}{2},\\frac{\\sqrt{3}}{2},\\frac{\\sqrt{2}}{2},\\frac{\\sqrt{1}}{2},\\frac{\\sqrt{0}}{2}]" inline={true}/>
  </InfoCard>

  <h3>Trigonometriske grunnlikninger (s.208)</h3>
  <InfoCard>
    
  </InfoCard>
  
  <h3>Sum og differense vinkler (s.212)</h3>
  <InfoCard>
    
  </InfoCard>

  <h3>Doble vinkler (s.213)</h3>
  <InfoCard>

  </InfoCard>

  <h3>Harmoniske svingninger (s.224)</h3>
  <InfoCard>

  </InfoCard>

  <h3>Gjøre om til Sinus (s.231)[kanskje under harmoniske svingninger]</h3>
  <InfoCard>

  </InfoCard>

  <h3>Kap 3F derivasjon/integrasjon sin\cos\tan</h3>

</section>