---
import InfoCard from "../InfoCard.astro"
import Latex from "../Latex.astro"
import FormulaCard from "../FormulaCard.astro" 
---

<section id="kap-2">
  <h2>2 Integrasjon</h2>

  <h3>Det bestemte integralet</h3>
  <InfoCard>
    <Latex formula="\\int_{a}^{b}f(x)\\;dx" />
    Der a, b og f(x) er/gir reelle tall. <br>
    Beskriver arealet av funksjonen hvis f(x) kun er positiv fra a til b
  </InfoCard>

  <h3>Det bestemte integralet definert av riemannsummer</h3>
  <InfoCard>
    <Latex formula="\\int_{a}^{b}f(x)\\;dx=\\lim_{n\\to \\infin}\\sum_{i=1}^{n}(f(x_i^*))\\cdot\\Delta x\\text{, der }\\Delta x = \\frac{b-a}{n}" />
  </InfoCard>
  <h3>Rektangelmetoder</h3>
  <InfoCard>
    Rektangelmetode med venstretilnærming
    <Latex formula="\\int_{a}^{b}f(x)\\;dx \\approx \\sum_{i=1}^{n}f(x_{i-1})\\cdot\\Delta x\\text\\enspace{der}\\enspace x_{i-1} = a+(i-1)\\cdot\\Delta x" />
    Rektangelmetode med høyretilnærming
    <Latex formula="\\int_{a}^{b}f(x)\\;dx \\approx \\sum_{i=1}^{n}f(x_i)\\cdot\\Delta x\\text\\enspace{der}\\enspace x_i = a+i\\cdot\\Delta x" />
    Rektangelmetode med midtpunkttilnærming
    <Latex formula="\\int_{a}^{b}f(x)\\;dx \\approx \\sum_{i=1}^{n}f(m_i)\\cdot\\Delta x\\text\\enspace{der}\\enspace m_i = a+\\bigg(i-\\frac{1}{2}\\bigg)\\cdot\\Delta x" />
  </InfoCard>

  <h3>Trapesmetoden</h3>
  Ligner midtpunkttilnærming, bare du tar gjennomsnittet av venstre og høyre side per delta x.
  <FormulaCard title="Forklaring trapesmetoden" id="trapesmetoden">
    <div slot="main">
      <Latex formula="\\int_{a}^{b} f(x)\\;dx\\approx\\frac{\\Delta x}{2}\\Bigg(f(a)+f(b)+2\\cdot \\sum_{i=1}^{n-1}f(x_i)\\Bigg)" />
      der <Latex formula="x_i=a+i\\Delta x" inline={true} />
    </div>
    <div slot="explanation">
      For å forstå dette monsteret av en funksjon, må vi først vite at det er en enklere funksjon en kan bruke:
      <Latex formula="\\int_{a}^{b}f(x)\\;dx\\approx\\frac{\\Delta x}{2}\\Bigg(\\sum_{i=1}^{n} f(x_i)+f(x_{i-1})\\Bigg)" />
      Men at denne kan omformuleres til formelen i hovedboksen<br>
      Fordi <Latex formula="f(x_0)=f(a)" inline={true} /> og <Latex formula="f(x_n)=f(b)" inline={true} /> <br>
      Samtidig som vi ser at alle andre <Latex formula="x_i\\ne x_0\\lor x_n" inline={true} /> summeres dobbelt opp. <br>
      <u>Derfor får man formelen i hovedboksen.</u> <br>
      
      <br> <br>
      Hvis du lurer på hvor <Latex formula="\\frac{\\Delta x}{2}(f(x_i)+f(x_{i\\pm1}))" inline={true} /> kommer ifra er det fra funksjonen for arealet av et trapes:
      <Latex formula="A=\\frac{(a+b)\\cdot h}{2}" />
      Hvor <Latex formula="h=\\Delta x" inline={true} /> er høyden mellom sidene. <br>
      Hvor <Latex formula="a=f(x_i)\\land b=(f_{x\\pm i})" inline={true} /> Gir:
      <Latex formula="T_i=\\frac{\\Delta x}{2}(f(x_i)+f(x_{i\\pm1}))" />
      Og fordi vi summerer sammen mange T<sub>i</sub> settes 'konstanten' <Latex formula="\\frac{\\Delta x}{2}" inline={true}/> utenfor
    </div>
  </FormulaCard>

  <h3>Gjennomsnittsverdi av en funksjon i et intervall med bruk av et bestemt integral</h3>
  <FormulaCard title="Gjennomsnittsverdi bestemt integral" id="gjennomsnitt-integral">
    <div slot="main">
        Gjennomsnittsverdien T av en funksjon f(x) i et intervall [a, b] er gitt ved
        <Latex formula="\\bar T=\\frac{1}{b-a}\\int_{a}^{b}f(x)\\;dx" />
    </div>
    <div slot="explanation">
      f(x) er høyden til figuren i et gitt punkt <br>
      [a,b] beskriver lengden til figuren (langs x-aksen) <br>
      Og fordi integralet beskriver areal, <br>
      Så kan man dele på lengden (b-a) og sitte igjen med gjennomsnittshøyden.
    </div>
  </FormulaCard>

  <h3>Buelengde til funksjon i intervall</h3>
  <FormulaCard title="Buelengde" id="buelengde">
    <div slot="main">
      <Latex formula="s=\\int_{a}^{b}\\sqrt{1+(f'(x))^2}\\;dx" />
    </div>
    <div slot="explanation">
      Ved å summere sammen alle hypotenusene til katetene (delta x) og forskjell i y får vi buelengde. <br>
      For å finne formelen må vi starte med å finne en liten buelengde:
      <Latex formula="\\Delta s_i=\\sqrt{(\\Delta x)^2+(\\Delta f(x_i))^2}" />
      <Latex formula="\\Delta s_i=\\sqrt{\\Delta x^2\\bigg(1+\\Big(\\frac{\\Delta f(x_i)}{\\Delta x}\\Big)^2\\bigg)}" />
      <Latex formula="\\Delta s_i=\\sqrt{1(f'(x))^2}\\cdot \\Delta x" />
      Ved å summere sammen veldig mange små buelengder i et intervall, sitter vi igjen med formelen for buelengde!
    </div>
  </FormulaCard>

  <h3>Det ubestemte integralet</h3>
  <InfoCard>
    K(x) står får den antideriverte, som også er det integrering er
    <br>
    <Latex formula="\\int f(x)\\;dx=K(x)+C" inline={true} />,
    der
    <Latex formula="K'(x)=f(x)" inline={true} />
    og
    <Latex formula="C\\in \\mathbb{R}" inline={true} />
  </InfoCard>

  <h3>Integrasjonregel: konstant faktor</h3>
  <InfoCard>
    En konstant faktor blir uendret ved integrasjon:
    <Latex formula="\\int k\\cdot u(x)\\;dx=k\\int u(x)\\;dx\\qquad\\qquad(k\\in\\mathbb{R})" />
  </InfoCard>

  <h3>Integrasjonregel: flere utrykk</h3>
  <InfoCard>
    Flerleddet utrykk som integreres kan oppspaltes:
    <Latex formula="\\int \\big(u(x)\\pm v(x)\\big)\\;dx=\\int u(x)\\;dx\\pm\\int v(x)\\;dx" />
  </InfoCard>
  <h3>Integrasjonregel: potenser</h3>
  <InfoCard>
    Generelt kan vi integrere potensen:
    <Latex formula="\\int x^r\\;dx=\\frac{1}{r+1}x^{r+1}+C\\qquad\\qquad (r\\neq -1)" />
  </InfoCard>
  <h3>Integrasjonregel: <Latex formula="x^{-1}" inline={true} /> ved logaritme</h3>
  <InfoCard>
    <Latex formula="\\int \\frac{1}{x}\\;dx=\\ln|x|+C\\qquad\\qquad (x\\neq0)" />
    <Latex formula="\\Updownarrow" />
    <Latex formula="\\int \\frac{1}{ax+b}\\;dx=\\frac{1}{a}\\ln|ax+b|+C\\qquad\\qquad \\Big(x\\neq-\\frac{b}{a}\\Big)" />
  </InfoCard>
  <h3>Integrasjonregel: eksponensialfunksjoner</h3>
  <InfoCard>
    <Latex formula="\\int e^x\\;dx=e^x+C" />
    <Latex formula="\\int e^{kx}\\;dx=\\frac{1}{k}e^{kx}+C\\qquad(k\\neq0)" />
    <Latex formula="\\int a^x\\;dx=\\frac{a^x}{\\ln a}+C\\qquad(a>0,a\\neq1)" />
  </InfoCard>

  <h3>Bestemt integrasjon med antiderivasjon</h3>
  <InfoCard>
    La F være en antiderivert av f slik at F'(x)=f(x).
    <Latex formula="\\int_{a}^{b}f(x)\\;dx=[F(x)]_a^b=F(b)-F(a)" />
  </InfoCard>

  <h3>Integrasjonsmetode: delvis integrasjon</h3>
  <InfoCard>
    <Latex formula="\\int u'\\cdot v\\;dx=u\\cdot v-\\int u\\cdot v'\\;dx" />
    <Latex formula="\\int u\\cdot v'\\;dx=u\\cdot v-\\int u'\\cdot v\\;dx" />
  </InfoCard>

  <h3>Integrasjonsmetode: variabelskifte</h3>
  <InfoCard>
    <b>Metode for substitusjon</b><br>
    <ol>
      <li>Velg en kjerne u</li>
      <li>Finn u'</li>
      <li>Erstatt dx med <Latex formula="\\frac{du}{u'}" inline={true} /></li>
      <li>Forenkle slikt at kun u består (er dette ikke mulig fungerer ikke metoden)</li>
      <li>Integrer med u som variabel</li>
      <li>Sett inn for u, slik at svaret blir en funksjon av x</li>
    </ol>
  </InfoCard>
  
  <h3>Integrasjonsmetode: delbrøkoppspalting</h3>
  <InfoCard>
    <b>Metoden:</b>
    La P og Q være polynomfunksjoner med grad p og q. Slik at p &lt; q <br>
    <i>Er derimot p&gt;q må polynomdivisjon gjøres først!</i>
    <br><br>
    Da kan brøken <Latex formula="\\frac{P(x)}{Q(x)}" inline={true}/> skrives som en sum av q delbrøker.
    <br><br>
    Summen til integralene av delbrøkene må derfor være lik: <Latex formula="\\int\\frac{P(x)}{Q(x)}\\;dx" inline={true} />
  </InfoCard>
  <FormulaCard title="Eksempel delbrøkoppspalting" id="delbrøkoppspalting">
    <div slot="main">
      <Latex formula="\\int\\frac{4}{9x^2-1}\\:dx" />
      <Latex formula="\\implies\\int\\Bigg(\\ \\frac{-2}{3x+1}+\\frac{2}{3x-1} \\Bigg)\\;dx = \\frac{2}{3}\\ln\\Bigg| \\frac{3x-1}{3x+1} \\Bigg|+C" />
    </div>
    <div slot="explanation">
      Benytter oss av delbrøkoppspalting for å forenkle utrykket
      <Latex formula="\\frac{4}{9x^2-1}=\\frac{A}{3x+1}+\\frac{B}{3x-1}" />
      <Latex formula="\\frac{4}{9x^2-1}=\\frac{A}{(3x+1)(3x-1)}+\\frac{B}{(3x-1)(3x+1)}" />
      <Latex formula="\\frac{4}{\\cancel{9x^2-1}}=\\frac{A\\pink{(3x-1)}}{\\cancel{(3x+1)\\pink{(3x-1)}}}+\\frac{B\\pink{(3x+1)}}{\\cancel{(3x-1)\\pink{(3x+1)}}}" />
      <Latex formula="4=A(3x-1)+B(3x+1)" />
      Setter inn for x slik at vi finner A og B (alene) <br>
      <Latex  formula="x=-\\frac{1}{3}\\implies4=A(-1-1)+B(-1+1)\\implies \\underline{A=-2}" inline={true} /> <br>
      <Latex  formula="x=\\frac{1}{3}\\implies4=A(1-1)+B(1+1)\\implies \\underline{B=2}" inline={true} /> <br>
      Setter dette inn i integralet
      <Latex formula="\\int\\Bigg(\\ \\frac{A}{3x+1}+\\frac{B}{3x-1} \\Bigg)\\;dx=\\int\\Bigg(\\ \\frac{-2}{3x+1}+\\frac{2}{3x-1} \\Bigg)\\;dx" />
      <Latex formula="=-\\frac{2}{3}\\ln|3x+1|+\\frac{2}{3}\\ln|3x-1|+C" />
      <Latex formula="= \\frac{2}{3}\\ln\\Bigg| \\frac{3x-1}{3x+1} \\Bigg|+C" />
      Er du usikker på siste linje? Så snur man leddene, så ser man at logaritmesetningen om ln(a)-ln(b)=ln(a/b) benyttes
    </div>
  </FormulaCard>

  <h3>Volum av omdreiningslegemer</h3>
  <InfoCard>
    La f være en kontinuerlig funksjon i intervallet [a,b] <br>
    Dreier vi grafen 360&deg;(2&pi; rad) om x-aksen får vi volumet:
    <Latex formula="V=\\pi r^2=\\pi\\int_a^b\\big(f(x)\\big)^2\\;dx" />
  </InfoCard>
  <h3>Areal av omdreiningslegemer</h3>
  <InfoCard>
    La f være en kontinuerlig og integrerbar funksjon i intervallet [a,b] <br>
    Dreier vi grafen 360&deg;(2&pi; rad) om x-aksen får vi arealet:
    <Latex formula="A=2\\pi\\int_a^bf(x) \\sqrt{1+\\big(f'(x)\\big)^2} \\;dx" />
    <b>Merk:</b> at vi bruker buelengde for å finne arealet!
  </InfoCard>
  <h3>Omdreiningslegemer rundt y-aksen</h3>
  <InfoCard>
    <Latex formula="V=\\pi\\int_c^d\\big(g(y)\\big)^2\\;dy" />
    <Latex formula="A=2\\pi\\int_c^dg(y) \\sqrt{1+\\big(g'(y)\\big)^2} \\;dy" />
    Der g er den omvendte funksjonen til f, c=f(a) og d=f(b) <br>
    Som betyr at man kan skrive følgene om en har f(x):
    <Latex formula="V=\\pi\\int_{f(a)}^{f(b)}\\big(f^{-1}(x)\\big)^2\\;dx" />
  </InfoCard>

</section>