---
import InfoCard from "../InfoCard.astro"
import Latex from "../Latex.astro"
import FormulaCard from "../FormulaCard.astro" 
import Image from "astro/components/Image.astro"
import crossprocuctImage from '../../assets/img/crossproduct.png'
---

<section id="kap-5">
  <h2>5 Romgeometri</h2>
  <h3>3D versus 2D</h3>
  <InfoCard>
    Generelt kan 2D punkter skrives (x,y) og 3D punkter (x, y, z) <br> 
    Det samme gjelder vektorer
  </InfoCard>

  <h3>Elementærvektor</h3>
  <InfoCard>
    Vi bruker elementærvektorene (3D)
    <Latex formula="\\vec{e_x} = [1,0,0]" />
    <Latex formula="\\vec{e_y} = [0,1,0]" />
    <Latex formula="\\vec{e_z} = [0,0,1]" />
    Til å beskrive 3D vektorer
    <Latex formula="[x,y,z]=[x\\cdot\\vec{e_x}, y\\cdot\\vec{e_y}, z\\cdot\\vec{e_z}]" />
  </InfoCard>

  <h3>Vektorregler? (s.307)</h3>

  <h3>Lengde på vektor (Pytagoras)</h3>
  <InfoCard>
    <Latex formula="\\vec{u}\\coloneqq[x,y,z]\\quad\\text{har lengden}\\quad|\\vec{u}|=\\sqrt{x^2+y^2+z^2}" />
  </InfoCard>

  <h3>Definere vektor ut ifra 2 punkt</h3>
  <InfoCard>
    <Latex formula="P(x_1,y_1,z_1)\\text{ og } Q(x_2,y_2,z_2)\\text { gir vektoren}" />
    <Latex formula="\\overrightarrow{PQ}=[x_2-x_1,y_2-y_1,z_2-z_1]" />
  </InfoCard>

  <h3>Parallelle vektorer</h3>
  <InfoCard>
    <Latex formula="\\vec{u}||\\vec{v}\\iff\\vec{u}=k\\vec{v}\\qquad(k\\in\\R)" />
    <Latex formula="\\vec{u}||\\vec{v}\\iff|\\vec{u}\\times\\vec{v}|=0\\qquad\\quad\\medspace\\medspace" />
  </InfoCard>

  <h3>Skalarproduktets definisjoner</h3>
  <InfoCard>
    <Latex formula="\\vec{u}\\coloneqq[x_1,y_1,z_1]\\text{ og }\\vec{v}\\coloneqq[x_2,y_2,z_2]" />
    <Latex formula="\\vec{u}\\cdot\\vec{v}=x_1x_2+y_1y_2+z_1z_2" />
    <Latex formula="\\vec{u}\\cdot\\vec{v}=|\\vec{u}|\\cdot|\\vec{v}|\\cdot\\cos\\theta" />
    Der <Latex formula="\\theta\\in[0\\degree,180\\degree]\\lor\\theta\\in[0,\\pi]" inline={true} /> <br>
    er vinkelen mellom <Latex formula="\\vec{u}" inline={true} /> og <Latex formula="\\vec{v}" inline={true} />
  </InfoCard>

  <h3>Vektor-regneregler? (s.316)</h3>

  <h3>Ortogonale vekoterer</h3>
  <InfoCard> 
    <p>To vektorer er ortogonale dersom dersom de står vinkelrett på hverandre, med andre ord danner en vinkel på 90&deg; (er rettvinklet)</p>   
    <Latex formula="\\vec{u}\\perp\\vec{v}\\iff\\vec{u}\\cdot\\vec{v}=0" />    
  </InfoCard>

  <h3>Vektorproduktet (kryssproduktet) [trenger krysningsskjemaet]</h3>
  <InfoCard>
    Vektorproduktet representerer en vektor som er ortogonal med begge vektorene den er definert med sine lengder som òg tilsvarer arealet til paralellogrammet vektorene utspenner
    <Latex formula="\\vec{u}\\times\\vec{v}=[y_1z_2-z_1y_2,\\;z_1x_2-x_1z_2,\\;x_1y_2-y_1x_2]" />
    <i>Tips sett opp skjema under med x, y, z, x, y på toppen når du regner for hånd</i> <br>
    <Image src={crossprocuctImage} alt="hvordan sette opp skjema for å regne vektorproduktet"></Image>
    <br>Formelt er vektorproduktet definert slikt:
    <Latex formula="\\vec{u}\\times\\vec{v}=|\\vec{u}|\\cdot|\\vec{v}|\\sin(\\theta)\\;n" />
    Hvor &theta; er vinkelen mellom u og v (0&deg; til 180&deg;) og n er en normalisert vektor som er ortogonal på både u og v
    <br><br>
    Her skjønner vi også hvorfor <Latex formula="\\vec{u}\\times\\vec{v}=0\\iff\\vec{u}\\perp\\vec{v}" inline={true} />
    som selfølgelig er fordi sin(0&deg;) og sin(180&deg;) er 0
  </InfoCard>
  <FormulaCard title="Utlede vektorproduket" id="kryssprodukt">
    <div slot="main" class="katex-left">
      <Latex formula="\\vec{u}\\times\\vec{v}=[y_1z_2-z_1y_2,\\;z_1x_2-x_1z_2,\\;x_1y_2-y_1x_2]" />
      <br>
      <i>Også definert med den formelle determinanten</i>
      <Latex formula="\\vec{c}=\\vec{u}\\times\\vec{v}" />
      <Latex formula="\\vec{c}=\\det\\begin{pmatrix} e_x & e_y & e_z \\newline x_1 & y_1 & z_1 \\newline x_2 & y_2 & z_2 \\end{pmatrix}" />
      <Latex formula="\\vec{c}=e_x\\cdot\\begin{vmatrix} y_1 & z_1 \\newline y_2 & z_2 \\end{vmatrix} - e_y\\cdot\\begin{vmatrix} x_1 & z_1 \\newline x_2 & z_2 \\end{vmatrix} + e_x\\cdot\\begin{vmatrix} x_1 & y_1 \\newline x_2 & y_2 \\end{vmatrix}" />
      <Latex formula="\\vec{c}=e_x\\cdot|y_1z_2-z_1y_2| - e_y\\cdot|x_1z_2-z_1x_2| + e_x\\cdot|x_1y_2-y_1x_2|" />

      
    </div>
    <div slot="explanation">
      De to nederste linjene er gjenkjennbare i «Trond metoden» hvor man ganger oppe fra venstre til nede til høyre så subtraherer det som er oppe til høyre ganger nede til venstre.
      <br>
      <br>
      En fordel med å ikke bruke determinanten er minusen på e<sub>y</sub> som følge av at den "mangler plass" eller må ta fra både venstre og høyre kolonne av seg selv.
      <br>
      <br>
      Derfor anbefales det sterkt av meg personlig å sette opp skjemaet.
    </div>
  </FormulaCard>

  <h3>Lagranges identitet...</h3>
  <InfoCard>
    Fordi ingen ønsker å se utredelsen til identiteten, skriver jeg den kun ned.
    <Latex formula="|\\vec{u}\\times\\vec{u}|=|\\vec{u}|\\cdot|\\vec{u}|\\cdot\\sin\\theta" />
    Men... derimot kan man se den ligner den formelle definisjonen ;)
  </InfoCard>

  <h3>Areal og volum med vektorprodukt</h3>
  <InfoCard>
    <p><b>Ulike areal 2D</b></p>
    Parallellogram: <Latex formula="|\\vec{u}\\times\\vec{v}|" inline={true} /><br>
    Trekant: <Latex formula="\\frac{1}{2}|\\vec{u}\\times\\vec{v}|" inline={true} /><br>
    <p><b>Ulike areal 3D</b></p>
    Parallellopiped: <Latex formula="|(\\vec{u}\\times\\vec{v})\\cdot\\vec{w}|" inline={true} /><br>
    Trekantet prisme: <Latex formula="\\frac{1}{2}|(\\vec{u}\\times\\vec{v})\\cdot\\vec{w}|" inline={true} /><br>
    Firkantet pyramide: <Latex formula="\\frac{1}{3}|(\\vec{u}\\times\\vec{v})\\cdot\\vec{w}|" inline={true} /><br>
    Tetraeder: <Latex formula="\\frac{1}{6}|(\\vec{u}\\times\\vec{v})\\cdot\\vec{w}|" inline={true} /><br>
  </InfoCard>

  <h3>Parameterframstilling: rett linje</h3>
  <InfoCard>
    En rett linje &ell; som går gjennom P(x<sub>0</sub>,y<sub>0</sub>,z<sub>0</sub>) <br>
    or har retningsvektoren [a,b,c] beskrives
    <Latex formula="\\ell: \\begin{cases}x=x_0+at\\newline y=y_0+bt\\newline z=z_0+ct\\end{cases}" />
    <br>
    To linjer i rommet kan kun være:
    <ul>
      <li>være parallelle, men ikke sammenfallende</li>
      <li>være parallelle og sammenfallende</li>
      <li>være vindskeive (treffer aldri)</li>
      <li>skjøre hverandre i ett punkt</li>
    </ul>
  </InfoCard>

  <FormulaCard title="Treffer to linjer?" id="linje-kollisjon">
    <div slot="main">
      Undersøk hvordan linjene ligger i forhold til hverandre
      <Latex 
        formula="\\ell:\\begin{cases}x=1+2t\\newline y=5+3t\\newline z=5+t\\end{cases}\\qquad m:\\begin{cases}x=-2t\\newline y=5-3t\\newline z=3-t\\end{cases}\\qquad n:\\begin{cases}x=1+t\\newline y=6+2t\\newline z=-2-3t\\end{cases}"
      />
      &ell; og m er parallelle men skjærer ikke hverandre <br>
      &ell; og n skjærer hverandre i (-1,2,4) <br>
      Finner vi at m og n er vindskjeive. <br>
    </div>
    <div slot="explanation" class="katex-left">
      Vi starter med å finne retningsvektorene <Latex formula="\\vec{r_\\ell}=[2,3,1]" inline={true} />, <Latex formula="\\vec{r_m}=[-2,-3,-1]" inline={true} /> og <Latex formula="\\vec{r_n}=[1,2,-3]" inline={true} />
      <br>
      På grunn av <Latex formula="\\vec{r_\\ell}=-\\vec{r_m}" inline={true} /> er <Latex formula="\\vec{r_\\ell}\\|\\vec{r_m}" inline={true} />. Altså &ell; og m er parallelle
      <br>
      For å sjekke om linjene er sammenfallende sjekker vi om begge linjene har samme punkt. Vi starter men et kjent punkt på &ell; eksempel (1,5,5).
      <br>
      Vi sjekker om dette punktet også er på m ved å sette z lik hverandre: <br>
      <Latex formula="m(-2)=(4,11,5)\\neq(1,5,5)" inline={true} /> da kun z-kordinated er likt.
      <br>
      <u>Ergo &ell; og m er parallelle men ikke sammenfallende</u>
      <br><br><br>
      For å sjekke om to ikke parallelle linjer treffer hverandre setter man opp et likninssystem for med 3 linjer. Eksempel for &ell; og n
      <Latex formula="\\begin{cases}I:&1+2t=1+s\\newline II:&5+3t=6+2s\\newline III:&5+t=-2-3s\\end{cases}" />
      Likning III gir <i>t=-7-3s</i> Vi setter inn i I og II:
      <Latex formula="\\begin{cases}I:&1+2(-7-3s)=1+s&\\iff s=-2\\newline II:&5+3(-7-3s)=6+2s&\\iff s=-2\\end{cases}" />
      Siden vi fikk samme verdi av s, skjærer &ell; og m hverandre. Vi setter inn -2 for &ell; eller m og finner skjæringspunktet (-1,2,4) <br>
      <u>&ell; og m skjærer hveradnre i punktet (-1,2,4)</u>
      <br><br>
      Vi bruker samme metode for m og n, som gir likninssystemet:
      <Latex formula="\\begin{cases}I:&-2t=1+s\\newline II:&5-3t=6+2s\\newline III:&3-t=-2-3s\\end{cases}" />
      Likning III gir t=5+3s. Som vi setter inn i I og II:
      <Latex formula="\\begin{cases}I:&-2(5+3s)=1+s &\\iff s=-11/7\\newline II:&5-3(5+3s)=6+2s &\\iff s=-16/11\\end{cases}" />
      <u>Siden s-verdiene ikke er like, skjærer ikke m og n. Altså de er altså vindskeive.</u>
    </div>
  </FormulaCard>

  <h3>Parameterframstilling: for kurver</h3>
  <InfoCard>
    <Latex formula="\\vec{r}(t)=\\Big[x(t),y(t),z(t)\\Big]" />
  </InfoCard>
  
  <h3>Matte, men egentlig fysikk (akselerasjon)</h3>
  <InfoCard>
    La t være en parameter for tid, og r en posisjonsvektoren <br>
    Så er sammenhengen mellom akselerasjon, fart og posisjon:
    <Latex formula="\\vec{a}(t)=\\vec{v}'(t)=\\vec{r}''(t)" />
  </InfoCard>

  <h3>Definisjon plan</h3>
  <InfoCard>
    Et plan er en flate som ikke krummer i rommet. Og kan beskrives:
    <Latex formula="ax+by+cz=d" />
    Et plan er kun definert med disse likestilte opplysningene:
    <ul>
      <li>tre punkter som ikke ligger på èn linje</li>
      <li>et punkt og to ikke-parallelle vekotrer</li>
      <li>et punkt og en normalvektor</li>
    </ul>
  </InfoCard>

  <h3>Definere et plan med punkt og normalvektor</h3>
  <InfoCard>
    Et plan som går gjennom punktet <Latex inline={true} formula="(x_0,y_0,z_0)" /> og normalvektoren <Latex inline={true} formula="[a,b,c]" />.
    <Latex formula="a(x-x_0)+b(y-y_0)+c(z-z_0)=0" />
    Som blir likningen til planet
  </InfoCard>
  <FormulaCard title="Hvorfor holder kun den formelen?" id="plan-formel">
    <div slot="main">
      Fordi <Latex inline={true} formula="a(x-x_0)+b(y-y_0)+c(z-z_0)=0" /> kan brukes ved alle tilfeller med tilstrekkelig informasjon! (3 punkt og to ikke-parallelle vektorer)
    </div>
    <div slot="explanation">
      La oss ta for oss lista nedenfor for å vise at ved alle tilfellene kan vi lage likningen til planet definert av dem.
      <ul>
        <li>tre punkter som ikke ligger på èn linje</li>
        <li>et punkt og to ikke-parallelle vekotrer</li>
        <li>et punkt og en normalvektor (basisen, allerede løst)</li>
      </ul>
      Med «tre punkter som ikke ligger på èn linje» gjør vi følgene. Lager to forskjellige vektorer med punktene. Tar vektorproduktet av dem for å finne normalvektoren. Så har vi minst et punkt og normalvektor.
      <br><br>
      Med «et punkt og to ikke-parallelle vekotrer» tar vi kun vektorproduket av vektorene for å finne normalvektor. Så har vi minst et punkt og normalvektor.
    </div>
  </FormulaCard>

  <h3>Parameterframstilling for plan</h3>
  <InfoCard>
    Et plan &alpha; går gjennom punket <Latex formula="(x_0,y_0,z_0)" inline={true} /> og er parallelt med de to ikke parallelle vektorene <Latex formula="[a_1,b_1,c_1]" inline={true} /> og <Latex formula="[a_2,b_2,c_2]" inline={true} />. Gir parameterframstillingen: 
    <Latex formula="\\alpha:\\quad\\begin{cases}x=x_0+a_1s+a_2t \\newline y=y_0+b_1s+b_2t\\newline z=z_0+c_1s+c_2t \\end{cases}" />
  </InfoCard>
  utredning? (s. 353)

  <h3>Skjæring mellom plan (parameterframstilling) (s.355)</h3>
  <FormulaCard title="Skjæringslinje mellom to plan" id="param-skjaering-to-plan">
    <div slot="main">
      Gitt planene &alpha; og &beta;
      <Latex formula="\\begin{align*}\\alpha:\\quad&x+y-z+1=0\\newline\\beta:\\quad&3x-3y+z+3=0\\end{align*}" />
      Forklar hvorfor skjæringslinja &ell; skjærer &alpha; og &beta;
      <Latex formula="\\ell:\\quad\\begin{cases}x=7\\newline y=4+4t\\newline z=5+5t\\end{cases}" />
    </div>
    <div slot="explanation">
      a
    </div>
  </FormulaCard>

  <h3>Vinkler mellom to linjer (s.360)</h3>
  <h3>Vinkler mellom to plan (s.362)</h3>
  <h3>Vinkler mellom linje og plan (s.364)</h3>
  <h3>Avstanden mellom punkt og linje(s.368)</h3>
  <h3>Avstanden mellom to linjer(s.370)</h3>
  <h3>Avstanden mellom punkt og plan(s.372)</h3>
  <h3>Avstanden mellom linje og plan(s.34)</h3>
  <h3>Avstanden mellom to plan(s.375)</h3>
  <h3>Likning til kuleflate (s.379)</h3>
  <h3>Parameterframstilling til kuleflate (s.386)</h3>
</section>