---
import InfoCard from "../InfoCard.astro"
import Latex from "../Latex.astro"
import FormulaCard from "../FormulaCard.astro" 
---

<section id="kap-3">
  <h2>3 Trigonometri</h2>

  <h3>Radianer (det absolutte vinkelmålet)</h3>
  <InfoCard>
    Vinkel v målt i radianer er lik forholdet mellom buelengden b og radien r.
    <Latex formula="v=\\frac{b}{r}" />
  </InfoCard>

  <h3>Omgjøring fra grader til radianer og motsatt</h3>
  <InfoCard>
    Vinkelen n&deg; er ekvivalent med radianen v så er:
    <Latex formula="v=\\frac{n\\degree}{180\\degree}\\cdot\\pi\\quad\\text{og}\\quad n\\degree=\\frac{v}{\\pi}\\cdot180\\degree" />
  </InfoCard>

  <h3>Kvadrantene og omløp (forhold til grunnstilling)</h3>
  <InfoCard>
    <b>Kvadrant 1:</b> <Latex formula="n\\degree\\in[0,90\\quad\\enspace]\\quad\\lor\\quad v\\in[0,\\frac{\\pi}{2}]" inline={true} /> <br>
    <b>Kvadrant 2:</b> <Latex formula="n\\degree\\in[90,180\\enspace]\\quad\\lor\\quad v\\in[\\frac{\\pi}{2},\\pi]" inline={true} /> <br>
    <b>Kvadrant 3:</b> <Latex formula="n\\degree\\in[180,270]\\quad\\lor\\quad v\\in[\\pi,\\frac{3\\pi}{2}]" inline={true} /> <br>
    <b>Kvadrant 4:</b> <Latex formula="n\\degree\\in[270,360]\\quad\\lor\\quad v\\in[\\frac{3\\pi}{2},2\\pi]" inline={true} /> <br>
    <br>
    <b>Første omløp:</b> <Latex formula="n\\degree\\in[0,360\\quad\\rang\\quad\\lor\\quad v\\in[0,2\\pi\\rang" inline={true} /> <br>
    <b>Andre omløp:</b> <Latex formula="n\\degree\\in[360,720\\rang\\quad\\lor\\quad v\\in[2\\pi,4\\pi\\rang" inline={true} /> <br>
  </InfoCard>

  <h3>Enhetssirkelen &rarr; Cosinus, Sinus og Tangens</h3>
  <InfoCard>
    s.189
  </InfoCard>

  <h3>Cosinus, Sinus og Tangens er periodiske</h3>
  <InfoCard>
    For <Latex formula="k\\in\\Z" inline={true}/> har vi
    <Latex formula="\\cos(v+k\\cdot360\\degree)=\\cos v \\qquad\\cos(v+k\\cdot2\\pi)=\\cos v" />
    <Latex formula="\\sin(v+k\\cdot360\\degree)=\\sin v \\qquad\\sin(v+k\\cdot2\\pi)=\\sin v" />
    <Latex formula="\\tan(v+k\\cdot180\\degree)=\\tan v \\qquad\\tan(v+k\\cdot\\pi)=\\tan v" />
  </InfoCard>

  <h3>Viktige eksakte trigonometriske verdier</h3>
  <p>En tabell (s.193-194, marg av bok)</p>
  <InfoCard>
    <b>Huskeregel:</b><br>
    <Latex formula="cos [0,30,45,60,90]=[\\frac{\\sqrt{4}}{2},\\frac{\\sqrt{3}}{2},\\frac{\\sqrt{2}}{2},\\frac{\\sqrt{1}}{2},\\frac{\\sqrt{0}}{2}]" inline={true}/> <br>
    <br>
    <Latex formula="sin [90,60,45,30,0]=[\\frac{\\sqrt{4}}{2},\\frac{\\sqrt{3}}{2},\\frac{\\sqrt{2}}{2},\\frac{\\sqrt{1}}{2},\\frac{\\sqrt{0}}{2}]" inline={true}/>
  </InfoCard>

  <h3>Trigonometriske identitet: enhetsformelen</h3>
  <InfoCard>
    <Latex formula="\\cos^2v+\\sin^2v=1" />
  </InfoCard>
  
  <h3>Sum og differense vinkler (i trig. funksjoner)</h3>
  <InfoCard>
    <Latex formula="\\sin(u\\pm v)=\\sin u\\cdot\\cos v\\pm\\cos u\\cdot\\sin v" />
    <Latex formula="\\cos(u\\pm v)=\\cos u\\cdot\\cos v\\mp\\sin u\\cdot\\sin v" />
    <Latex formula="\\tan(u\\pm v)=\\frac{\\tan u\\pm\\tan v}{1\\mp\\tan u\\cdot\\tan v}" />
  </InfoCard>

  <h3>Doble vinkler (i trig. funksjoner)</h3>
  <InfoCard>
    <b>For sinus:</b>
    <Latex formula="\\sin2v=2\\sin v\\cdot\\cos v" />
    <b>For cosinus:</b>
    <Latex formula="\\begin{align*}\\cos2v&=\\cos^2v-\\sin^2v\\\\&=1-2\\sin^2v\\\\&=2\\cos^2v-1 \\end{align*}" />
    <b>For tangens:</b>
    <Latex formula="\\tan2v=\\frac{2\\tan v}{1-\\tan^2v}" />
  </InfoCard>

  <h3>Harmoniske svingninger</h3>
  <InfoCard>
    <Latex formula="f(x)=A\\sin(cx+\\varphi)+d" />
    <p><b>Sinusargumentet cx+&phi;</b></p>
    <p>Vi antar at c og &phi; er positive</p>
    <p><b>d</b></p>
    <p>likevektslinja (y=d) ligger midt i mellom topp og bunnpunktet til sinusfunksjonen.</p>
    <p>Vi har derfor y=d, der <Latex formula="d=\\frac{y_{maks}+y_{min}}{2}" inline={true} /></p>
    <p><b>A</b></p>
    <p>Ampliduten (A) er avstanden fra topppunktet (eller bunnpunktet) til likevektslinja y = d. Kalles også <i>maksimalt utslag</i></p>
    <p>Derfor er <Latex formula="A=\\frac{y_{maks}-y_{min}}{2}" inline={true} /></p>
    <p><b>c</b></p>
    <p>Perioden p til en harmonisk svingning er avstanden mellom to punkter der grafen gjentar seg selv. Eksempel to topp- eller bunnpunkter.</p>
    <p>Når x = 0, er sinusargumentet &phi;</p>
    <p>Etter én periode er sinusargumentet lik &phi;+2&pi;. Da skal x ha verdien p.</p>
    <p>Det gir <Latex formula="cp+\\varphi=\\varphi+2\\pi\\Leftrightarrow c=\\frac{2\\pi}{p}" inline={true} /></p>
    <p><b>&phi;</b></p>
    <p>Representerer hvor mye sinusfunksjonen er forskjøvet fordi sin(x) når x er 0 gir 0. Mens sin(x+&phi;) når x er 0 og &phi; er &pi;/2 gir verdien 1 da er grafen altså forskjøvet med 90&deg;</p>
    <br>
    <p><u>Alternativ forklaring</u> er at etter likevektslinja antar vi at sinusfunksjonen stiger oppover i x<sub>0</sub> = 0. Da er y = d, så sinusargumentet kan være lik null.</p>
    <p>Det gir <Latex formula="cx_0+\\varphi=0\\Leftrightarrow c=\\frac{2\\pi}{p}\\Leftrightarrow\\varphi=-x_0c" inline={true} /></p>
    <p>Derfor er grafen til A sin (cx + &phi;) + d forskjøvet x<sub>0</sub> langs likevektslinja sammenlignet med A sin (cx) + d.</p>
    <p>Grafen er forskjøvet mot høyre når &phi;&lt;0 og x<sub>0</sub> er positiv. Helt motsatt når grafen er forskjøvet mot venstre. (&phi;&gt;0 og x<sub>0</sub> er negativ)</p>
  </InfoCard>
  <InfoCard>
    <p>Sinusfunksjonen f gitt ved f(x)=Asin(cx+&phi;) gir den samme grafen som cosinusfuksjonen g</p>
    <p><Latex formula="g(x)=A\\cos(cx+\\theta)+d\\text{, der }\\theta=\\varphi-\\frac{\\pi}{2}"inline={false}/></p>
    <p><i>(fordi sinusfunksjonen forskjøvet ved 90&deg; overlapper med cosinusfuksjonen)</i></p>
  </InfoCard>

  <h3>Gjøre om til Sinus</h3>
  <InfoCard>
    <Latex formula="a\\sin cx+b\\cos cx=A\\sin(cx+\\varphi)" />
    <Latex formula="\\text{der }A=\\sqrt{a^2+b^2}\\text{ og }\\tan\\varphi=\\frac{a}{b}" />
    <Latex formula="\\varphi\\text{ ligger i samme kvadrant som punket }(a,b)." />
  </InfoCard>

  <h3>Derivasjon av trigonometriske funksjoner</h3>
  <InfoCard>
    <Latex formula="f(x)=\\sin x \\implies f'(x)=\\cos x" />
    <Latex formula="f(x)=\\cos x \\implies f'(x)=-\\sin x" />
    <Latex formula="f(x)=\\tan x \\implies f'(x)=\\frac{1}{\\cos^2x}=1+\\tan^2x" />
  </InfoCard>
  (s.236 kjerneregel ved konstant inni trig.funksjon)

  <h3>Integrasjon av trigonometriske funksjoner</h3>
  <InfoCard>
    <Latex formula="\\int\\sin x\\;dx=-\\cos x + C" />
    <Latex formula="\\int\\cos x\\;dx=\\sin x + C" />
  </InfoCard>
  (s.241 kjerneregel ved konstant inni trig.funksjon)

</section>